@{
}
<h1>
    Регистрация нового пользователя 
</h1>

@{
    var err = ViewData["err"] as string[];   
}

@{
    var inputValues = new string[3];
    if(ViewData["inputValues"] as string[] != null)
    {
        inputValues = ViewData["inputValues"] as string[];
    }
}

<form action="/Home/RegUser" method="post">
    Имя: <input type="text" name="RealName" value = "@inputValues[0]"/> 
    @if(! String.IsNullOrEmpty(err?[1]))
    {
        @err[1]
        
    }
    <br/>

    Логин: <input type="text"  name="Login" value ="@inputValues[1]"/>
    @if (!String.IsNullOrEmpty(err?[2]))
    {
        @err[2]

    }  
    <br/>

    Пароль: <input type="password" name="Password1"/> 
    @if(! String.IsNullOrEmpty(err?[3]))
    {
        @err[3]
        
    }
    <br/>

    Пароль: <input type="password" name="Password2"/>
    @if(! String.IsNullOrEmpty(err?[4]))
    {
        @err[4]
        
    }
    <br/>

    E-mail: <input type="email" name="Email" value ="@inputValues[2]"/>     
    @if(! String.IsNullOrEmpty(err?[5]))
    {
        @err[5]
        
    }
    <br/>

    <button>Зарегестрироваться</button>
</form>

@*@if(err != null)
{
    @foreach(string er in err)
    {
        <p>
            @er
        </p>
    }
}*@
